.Home {
    display: flex;
    justify-content: space-between;
    background-image: url(https://wallpapercave.com/wp/wp2482799.jpg);
    background-position: center;
    background-size: cover;
}

.left-home {
    padding: 2rem;
    padding-top: 1.5rem;
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.best-ad {
    margin-top: 4rem;
    background-color: transparent;
    border-radius: 4rem;
    width: fit-content;
    padding: 20px 13px;
    color: whitesmoke;
    border: 1px solid gold;
    position: relative;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.best-ad>span {
    z-index: 2;
}

.best-ad>div {
    position: absolute;
    background-color: gold;
    width: 5.4rem;
    height: 80%;
    left: 8px;
    border-radius: 3rem;
    z-index: 1;
}

.Home-des {
    display: flex;
    flex-direction: column;
    gap: 1.5;
    text-transform: uppercase;
    font-size: 4.5rem;
    font-weight: bold;
    color: gold;
    text-overflow: inherit;
}

.Home-des>div:nth-of-type(3) {
    font-size: 1rem;
    font-weight: 200px;
    text-transform: none;
    letter-spacing: 2px;
    width: 80%;
    color: gold;
    text-shadow: rgb(0, 0, 0) 0px 0px 5px, rgb(0, 0, 0) 0px 0px 10px, rgb(0, 0, 0) 0px 0px 15px,
        #030303 0px 0px 20px, #000000 0px 0px 30px, #000000 0px 0px 40px,
        #000000 0px 0px 50px, #000000 0px 0px 75px;

}


.figures {
    display: flex;
    gap: 2rem;
}

.figures>div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.figures>div :nth-of-type(1),
.figures>div :nth-of-type(2) {
    text-transform: uppercase;
    font-family: 2rem;
    color: whitesmoke;
    text-shadow: rgb(0, 0, 0) 0px 0px 5px, rgb(0, 0, 0) 0px 0px 10px, rgb(0, 0, 0) 0px 0px 15px,
        #030303 0px 0px 20px, #000000 0px 0px 30px, #000000 0px 0px 40px,
        #000000 0px 0px 50px, #000000 0px 0px 75px;

}

.home-button {
    display: flex;
    gap: 1rem;
    font-weight: normal;
}

.home-button>:nth-child(1) {
    color: black;
    background-color: gold;
    width: 8rem;
}

.home-button>:nth-child(2) {
    color: gold;
    background-color: black;
    border: 1px solid gold;
    width: 8rem;
}

.home-button>:nth-child(1):hover,
.home-button>:nth-child(2):hover {
    background-color: green;
    cursor: pointer;
    color: whitesmoke;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #f2f2f2, 0 -18px 40px rgb(0, 0, 0);
}

.right-home {
    flex: 1;
    position: relative;
    background-color: transparent;
}

.right-home>.btn {
    position: absolute;
    right: 3rem;
    top: 2rem;
    color: black;
}

.right-home>.btn:hover {
    background-color: green;
    cursor: pointer;
    color: whitesmoke;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #f2f2f2, 0 -18px 40px rgb(0, 0, 0);
}

.home-image-one {
    position: absolute;
    top: 5rem;
    right: 5rem;
    width: 35rem;
    height: 35rem;
    border-radius: 50%;
    opacity: 50%;
    transform: scaleX(+1);
}