.puropse {
    padding: 0px;
    display: flex;
    grid-template: 2rem;
}

.puropse-left {
    flex: 1 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    grid-auto-rows: 1fr;
}

.puropse-left>img {
    object-fit: cover;
}

.puropse-left>:nth-child(1) {
    width: 25rem;
    grid-row: 1/3;
    height: 29rem;
}

.puropse-left>:nth-child(2) {
    width: 40rem;
    height: 18rem;
    grid-column: 2/4;
}

.puropse-left>:nth-child(3) {
    width: 23rem;
    height: 10rem;
}

.puropse-left>:nth-child(4) {
    width: 15rem;
    height: 10rem;
}

.puropse-right {
    flex: 1 1;
    text-transform: uppercase;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0%;
}

.puropse-right>span {
    font-weight: bold;
    font-size: 1.3em;
    color: white;
    font-style: italic;
    text-transform: uppercase;
}

.puropse-right>div {
    font-weight: bold;
    color: white;
    font-size: 3rem;
}

.right-details {
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.right-details>div {
    display: flex;
    font-size: 1rem;
    gap: 1rem;
    color: black;
}

.right-details>div>img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.partners>img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin: auto 10px;
}