.Header {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: gold;
    font-weight: 600px;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;

}

.logo {
    font-size: 30px;
    font-weight: 600px;
    padding-bottom: 0px;
    padding-left: 10px;
    margin: 10px;
}

.logo>strong {
    font-weight: bolder;
}

.logo:hover {
    cursor: pointer;
    color: whitesmoke;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #f2f2f2, 0 -18px 40px rgb(0, 0, 0);

}

.Header-menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    background-color: transparent;
    font-weight: 600;
    padding-bottom: 0px;
    padding-left: 10px;
    margin: 10px;
}


.Header-menu>li:hover {
    cursor: pointer;
    color: whitesmoke;
    font-weight: bolder;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #f2f2f2, 0 -18px 40px rgb(0, 0, 0);

}