.Header {
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 3rem;
    width: 10rem;
    border-radius: 5%;
}

.Header-menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    color: white;
    background-color: transparent;
}


.Header-menu>li:hover {
    cursor: pointer;
    color: red;
    font-weight: bolder;
}