.programs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 2 rem;
}

.programs-header {
    display: flex;
    gap: 5rem;
    font-weight: bold;
    font-size: 3rem;
    justify-content: center;
    color: white;
    font-style: italic;
    text-transform: uppercase;

}

.programs-header>span {
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #f2f2f2, 0 -18px 40px rgb(0, 0, 0);
}

.programs-header>.unique-text {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: gold;
    color: #FFFFFF;
    background: transparent;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #f2f2f2, 0 -18px 40px rgb(0, 0, 0);

}

.program-Categories {
    display: flex;
    gap: 1rem;
    margin: auto 25px;
}

.Category {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    justify-content: space-between;
    color: gold;
    border: 1pt solid gold;
    background-color: black;
    -webkit-box-shadow: 1px 1px 15px 5px #000000;
    box-shadow: 1px 1px 15px 5px #000000;


}

.program-Categories>:hover {
    cursor: pointer;
    border: 1pt solid whitesmoke;
}

.Category>:nth-child(1) {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: auto 50% auto 50%;
}

.Category>:nth-child(2) {
    text-align: center;
    font-size: 1rem;
    font-weight: bolder;
    font-size: x-large;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px rgb(255, 255, 250), 0 -10px 20px #f2f2f2, 0 -18px 40px rgb(0, 0, 0);
}

.Category>:nth-child(3) {
    line-height: 25px;
    font-weight: bolder;
    font-size: large;

}

.join-now {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.join-now:hover {
    cursor: pointer;
    color: whitesmoke;
    font-weight: bolder;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #f2f2f2, 0 -18px 40px rgb(0, 0, 0);
}

.right-arrow {
    height: 2rem;
    width: 2rem;
    border: none;
    border-radius: 50%;

}